USE [QuanLiTrongTrotdb]
GO
/****** Object:  Table [dbo].[HoSo]    Script Date: 1/11/2026 5:49:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoSo](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Ten] [nvarchar](50) NULL,
	[SDT] [varchar](50) NULL,
	[Email] [varchar](50) NULL,
	[Ext] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Quyen]    Script Date: 1/11/2026 5:49:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Quyen](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Ten] [nvarchar](50) NULL,
	[Ext] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 1/11/2026 5:49:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[Ten] [varchar](50) NOT NULL,
	[MatKhau] [varchar](255) NULL,
	[QuyenID] [int] NULL,
	[HoSoId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Ten] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[ViewHoSo]    Script Date: 1/11/2026 5:49:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[ViewHoSo] AS
SELECT
HoSo.*,
TaiKhoan.Ten AS TenDangNhap,
MatKhau,
QuyenId,
Quyen.Ten AS Quyen
FROM TaiKhoan
INNER JOIN Quyen ON QuyenId = Quyen.Id
INNER JOIN HoSo ON HoSoId = HoSo.Id
GO
/****** Object:  Table [dbo].[HanhChinh]    Script Date: 1/11/2026 5:49:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HanhChinh](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Ten] [nvarchar](50) NULL,
	[TrucThuocId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonVi]    Script Date: 1/11/2026 5:49:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonVi](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Ten] [nvarchar](50) NULL,
	[HanhChinhId] [int] NULL,
	[TenHanhChinh] [nvarchar](50) NULL,
	[TrucThuocId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[ViewDonVi]    Script Date: 1/11/2026 5:49:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[ViewDonVi] AS
SELECT
T.*,
DonVi.Ten AS TrucThuoc
FROM ( 
SELECT
DonVi.*,
HanhChinh.Ten AS Cap
FROM DonVi
INNER JOIN HanhChinh ON HanhChinhId = HanhChinh.Id
) AS T
LEFT JOIN DonVi ON T.TrucThuocId = DonVi.Id
GO
/****** Object:  Table [dbo].[CoSoBanThuocBVTV]    Script Date: 1/11/2026 5:49:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CoSoBanThuocBVTV](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Ten] [nvarchar](50) NULL,
	[DiaChi] [nvarchar](50) NULL,
	[BanDoId] [int] NULL,
	[LoaiId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BanDoPhanBo]    Script Date: 1/11/2026 5:49:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BanDoPhanBo](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ToaDoX] [float] NULL,
	[ToaDoY] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhanLoai]    Script Date: 1/11/2026 5:49:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhanLoai](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Loai] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CoSoBanPhanBon]    Script Date: 1/11/2026 5:49:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CoSoBanPhanBon](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Ten] [nvarchar](50) NULL,
	[DiaChi] [nvarchar](50) NULL,
	[BanDoId] [int] NULL,
	[LoaiId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[ViewCoSoBuonBan]    Script Date: 1/11/2026 5:49:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[ViewCoSoBuonBan]
AS
WITH Combined AS (
SELECT
Id,
Ten,
DiaChi,
BanDoId,
LoaiId
FROM CoSoBanPhanBon
UNION ALL
SELECT
Id,
Ten,
DiaChi,
BanDoId,
LoaiId
FROM CoSoBanThuocBVTV
)
SELECT
C.Id,
C.Ten AS Ten,
C.LoaiId,
PL.Loai AS Loai,
C.DiaChi AS DiaChi,
C.BanDoId,
BDPB.ToaDoX,
BDPB.ToaDoY
FROM
(
SELECT
*,
ROW_NUMBER() OVER (PARTITION BY Ten ORDER BY Id) AS RN
FROM Combined
) AS C
INNER JOIN PhanLoai PL
ON C.LoaiId = PL.Id
INNER JOIN BanDoPhanBo BDPB
ON C.BanDoId = BDPB.Id
WHERE C.RN = 1;
GO
/****** Object:  Table [dbo].[CoSoSanXuatPhanBon]    Script Date: 1/11/2026 5:49:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CoSoSanXuatPhanBon](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Ten] [nvarchar](50) NULL,
	[DiaChi] [nvarchar](50) NULL,
	[BanDoId] [int] NULL,
	[LoaiId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CoSoSanXuatThuocBVTV]    Script Date: 1/11/2026 5:49:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CoSoSanXuatThuocBVTV](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Ten] [nvarchar](50) NULL,
	[DiaChi] [nvarchar](50) NULL,
	[BanDoId] [int] NULL,
	[LoaiId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[ViewCoSoSanXuat]    Script Date: 1/11/2026 5:49:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[ViewCoSoSanXuat]
AS
WITH Combined AS (
SELECT
Id,
Ten,
DiaChi,
BanDoId,
LoaiId
FROM CoSoSanXuatPhanBon
UNION ALL
SELECT
Id,
Ten,
DiaChi,
BanDoId,
LoaiId
FROM CoSoSanXuatThuocBVTV
)
SELECT
C.Id,
C.Ten AS Ten,
C.LoaiId,
PL.Loai,
C.DiaChi AS DiaChi,
C.BanDoId,
BDPB.ToaDoX,
BDPB.ToaDoY
FROM
(
SELECT
*,
ROW_NUMBER() OVER (PARTITION BY Ten ORDER BY Id) AS RN
FROM Combined
) AS C
INNER JOIN PhanLoai PL ON C.LoaiId = PL.Id
INNER JOIN BanDoPhanBo BDPB ON C.BanDoId = BDPB.Id
WHERE C.RN = 1;
GO
/****** Object:  Table [dbo].[VungTrong]    Script Date: 1/11/2026 5:49:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VungTrong](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[QuyMo] [float] NULL,
	[DiaChi] [nvarchar](50) NULL,
	[BanDoId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GiongCayChinh]    Script Date: 1/11/2026 5:49:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GiongCayChinh](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Ten] [nvarchar](50) NULL,
	[PhanLoai] [nvarchar](50) NULL,
	[MuaVu] [nvarchar](50) NULL,
	[SanLuong] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GiongCayDauDong]    Script Date: 1/11/2026 5:49:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GiongCayDauDong](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Ten] [nvarchar](50) NULL,
	[NguonGoc] [nvarchar](50) NULL,
	[DacTinh] [nvarchar](255) NULL,
	[ThoiGianThuHoach] [int] NULL,
	[GiongId] [int] NULL,
	[VTId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[ViewGiongCay]    Script Date: 1/11/2026 5:49:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[ViewGiongCay]
AS
SELECT
GCD.Id,
GCD.Ten AS Ten,
GCD.NguonGoc,
GCD.DacTinh,
GCD.ThoiGianThuHoach,
GCC.Ten AS Giong,
VT.DiaChi AS VungTrong,
BDPB.ToaDoX,
BDPB.ToaDoY
FROM
GiongCayDauDong GCD
INNER JOIN
GiongCayChinh GCC ON GCD.GiongId = GCC.Id
INNER JOIN
VungTrong VT ON GCD.VTId = VT.Id
INNER JOIN
BanDoPhanBo BDPB ON VT.BanDoId = BDPB.Id;
GO
/****** Object:  Table [dbo].[SinhVatGayHai]    Script Date: 1/11/2026 5:49:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SinhVatGayHai](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Ten] [nvarchar](50) NULL,
	[PhanLoai] [nvarchar](50) NULL,
	[CayAH] [nvarchar](50) NULL,
	[VTId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TuoiSau]    Script Date: 1/11/2026 5:49:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TuoiSau](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Ten] [nvarchar](50) NULL,
	[TuoiSau] [int] NULL,
	[DoPhoBien] [nvarchar](50) NULL,
	[SVId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[ViewSinhVatGayHai]    Script Date: 1/11/2026 5:49:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[ViewSinhVatGayHai]
AS
SELECT
	TS.Id AS Id,
	TS.Ten AS Ten,
	TS.TuoiSau,
	TS.DoPhoBien,
	SVGH.PhanLoai,
	SVGH.CayAH,
	VT.DiaChi AS Vung,
	BDPB.ToaDoX,
	BDPB.ToaDoY
FROM
	TuoiSau TS
INNER JOIN
SinhVatGayHai SVGH ON TS.SVId = SVGH.Id
INNER JOIN
VungTrong VT ON SVGH.VTId = VT.Id
INNER JOIN
BanDoPhanBo BDPB ON VT.BanDoId = BDPB.Id;
GO
/****** Object:  Table [dbo].[CapNhat_SVGH]    Script Date: 1/11/2026 5:49:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CapNhat_SVGH](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NgayGioCN] [datetime] NULL,
	[TienDo] [nvarchar](50) NULL,
	[SVId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CS_VG]    Script Date: 1/11/2026 5:49:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CS_VG](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Ten] [nvarchar](50) NULL,
	[DiaChi] [nvarchar](50) NULL,
	[BanDoId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GiongCayLuuHanh]    Script Date: 1/11/2026 5:49:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GiongCayLuuHanh](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Ten] [nvarchar](50) NOT NULL,
	[NoiPhoBien] [nvarchar](255) NULL,
	[CongDung] [nvarchar](255) NULL,
	[DacDiem] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Ten] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhanBon]    Script Date: 1/11/2026 5:49:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhanBon](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Ten] [nvarchar](50) NULL,
	[ThanhPhan] [nvarchar](50) NULL,
	[PhanLoai] [nvarchar](50) NULL,
	[VTId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhanBon_CoSoBan]    Script Date: 1/11/2026 5:49:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhanBon_CoSoBan](
	[PhanBonId] [int] NOT NULL,
	[CoSoBanId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PhanBonId] ASC,
	[CoSoBanId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhanBon_CoSoSanXuat]    Script Date: 1/11/2026 5:49:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhanBon_CoSoSanXuat](
	[PhanBonId] [int] NOT NULL,
	[CoSoSanXuatId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PhanBonId] ASC,
	[CoSoSanXuatId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

/****** Object:  Table [dbo].[ThuocBVTV]    Script Date: 1/11/2026 5:49:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThuocBVTV](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Ten] [nvarchar](50) NULL,
	[NgaySX] [date] NULL,
	[HanSD] [date] NULL,
	[VTId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThuocBVTV_CoSoBan]    Script Date: 1/11/2026 5:49:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThuocBVTV_CoSoBan](
	[ThuocBVTVId] [int] NOT NULL,
	[CoSoBanId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ThuocBVTVId] ASC,
	[CoSoBanId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThuocBVTV_CoSoSanXuat]    Script Date: 1/11/2026 5:49:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThuocBVTV_CoSoSanXuat](
	[ThuocBVTVId] [int] NOT NULL,
	[CoSoSanXuatId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ThuocBVTVId] ASC,
	[CoSoSanXuatId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tinh]    Script Date: 1/11/2026 5:49:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tinh](
	[MaVung] [int] NOT NULL,       -- Không được để NULL
	[Ten] [nvarchar](50) NULL,
	PRIMARY KEY CLUSTERED ([MaVung] ASC) -- Đặt MaVung làm Khóa Chính
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TrangThai]    Script Date: 1/11/2026 5:49:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TrangThai](
	[CosoId] [int] NULL,
	[TrangThaiHoatDong] [binary](50) NULL,
	[ChuSoHuu] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Xa]    Script Date: 1/11/2026 5:49:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Xa](
	[Id] [int] IDENTITY(1,1) NOT NULL,    -- Thêm ID tự tăng làm khóa chính
	[Ten] [nvarchar](50) NULL,
	[MaTinh] [int] NULL,                  -- Sửa cột này để chứa Mã vùng (số)
	PRIMARY KEY CLUSTERED ([Id] ASC)
) ON [PRIMARY]
GO

-- Tạo liên kết khóa ngoại (Bắt buộc xã phải thuộc 1 tỉnh có thật)
ALTER TABLE [dbo].[Xa] WITH CHECK ADD FOREIGN KEY([MaTinh])
REFERENCES [dbo].[Tinh] ([MaVung])
GO
SET IDENTITY_INSERT [dbo].[BanDoPhanBo] ON 

INSERT [dbo].[BanDoPhanBo] ([Id], [ToaDoX], [ToaDoY]) VALUES (1, 21, 105.8)
INSERT [dbo].[BanDoPhanBo] ([Id], [ToaDoX], [ToaDoY]) VALUES (2, 20.9, 105.9)
INSERT [dbo].[BanDoPhanBo] ([Id], [ToaDoX], [ToaDoY]) VALUES (3, 21.1, 105.7)
SET IDENTITY_INSERT [dbo].[BanDoPhanBo] OFF
GO
SET IDENTITY_INSERT [dbo].[CapNhat_SVGH] ON 

INSERT [dbo].[CapNhat_SVGH] ([Id], [NgayGioCN], [TienDo], [SVId]) VALUES (1, CAST(N'2024-11-29T10:30:30.000' AS DateTime), N'Nhanh', 1)
INSERT [dbo].[CapNhat_SVGH] ([Id], [NgayGioCN], [TienDo], [SVId]) VALUES (2, CAST(N'2024-11-29T10:30:30.000' AS DateTime), N'Vừa Phải', 1)
INSERT [dbo].[CapNhat_SVGH] ([Id], [NgayGioCN], [TienDo], [SVId]) VALUES (3, CAST(N'2024-11-29T10:30:30.000' AS DateTime), N'Nhanh', 2)
SET IDENTITY_INSERT [dbo].[CapNhat_SVGH] OFF
GO
SET IDENTITY_INSERT [dbo].[CoSoBanPhanBon] ON 

INSERT [dbo].[CoSoBanPhanBon] ([Id], [Ten], [DiaChi], [BanDoId], [LoaiId]) VALUES (1, N'E', N'Hà Nội', 2, 1)
INSERT [dbo].[CoSoBanPhanBon] ([Id], [Ten], [DiaChi], [BanDoId], [LoaiId]) VALUES (2, N'F', N'Thái Nguyên', 4, 1)
INSERT [dbo].[CoSoBanPhanBon] ([Id], [Ten], [DiaChi], [BanDoId], [LoaiId]) VALUES (3, N'G', N'Phú Thọ', 4, 3)
SET IDENTITY_INSERT [dbo].[CoSoBanPhanBon] OFF
GO
SET IDENTITY_INSERT [dbo].[CoSoBanThuocBVTV] ON 

INSERT [dbo].[CoSoBanThuocBVTV] ([Id], [Ten], [DiaChi], [BanDoId], [LoaiId]) VALUES (1, N'J', N'Hà Nội', 1, 2)
INSERT [dbo].[CoSoBanThuocBVTV] ([Id], [Ten], [DiaChi], [BanDoId], [LoaiId]) VALUES (2, N'Q', N'Yên Bái', 2, 2)
INSERT [dbo].[CoSoBanThuocBVTV] ([Id], [Ten], [DiaChi], [BanDoId], [LoaiId]) VALUES (3, N'G', N'Lào Cai', 3, 3)
SET IDENTITY_INSERT [dbo].[CoSoBanThuocBVTV] OFF
GO
SET IDENTITY_INSERT [dbo].[CoSoSanXuatPhanBon] ON 

INSERT [dbo].[CoSoSanXuatPhanBon] ([Id], [Ten], [DiaChi], [BanDoId], [LoaiId]) VALUES (1, N'AA', N'Hà Nội', 1, 1)
INSERT [dbo].[CoSoSanXuatPhanBon] ([Id], [Ten], [DiaChi], [BanDoId], [LoaiId]) VALUES (2, N'BB', N'Phú Thọ', 2, 1)
INSERT [dbo].[CoSoSanXuatPhanBon] ([Id], [Ten], [DiaChi], [BanDoId], [LoaiId]) VALUES (3, N'C', N'Hưng Yên', 2, 3)
SET IDENTITY_INSERT [dbo].[CoSoSanXuatPhanBon] OFF
GO
SET IDENTITY_INSERT [dbo].[CoSoSanXuatThuocBVTV] ON 

INSERT [dbo].[CoSoSanXuatThuocBVTV] ([Id], [Ten], [DiaChi], [BanDoId], [LoaiId]) VALUES (1, N'A', N'Hà Nội', 1, 2)
INSERT [dbo].[CoSoSanXuatThuocBVTV] ([Id], [Ten], [DiaChi], [BanDoId], [LoaiId]) VALUES (2, N'B', N'Vĩnh Long', 2, 2)
INSERT [dbo].[CoSoSanXuatThuocBVTV] ([Id], [Ten], [DiaChi], [BanDoId], [LoaiId]) VALUES (3, N'C', N'Thái Nguyên', 4, 3)
SET IDENTITY_INSERT [dbo].[CoSoSanXuatThuocBVTV] OFF
GO
SET IDENTITY_INSERT [dbo].[CS_VG] ON 

INSERT [dbo].[CS_VG] ([Id], [Ten], [DiaChi], [BanDoId]) VALUES (1, N'VietGap 1', N'An Giang', 1)
INSERT [dbo].[CS_VG] ([Id], [Ten], [DiaChi], [BanDoId]) VALUES (2, N'VietGap 2', N'Đồng Tháp', 2)
INSERT [dbo].[CS_VG] ([Id], [Ten], [DiaChi], [BanDoId]) VALUES (11, N'VietGap 4', N'Thanh Hóa', 1)
SET IDENTITY_INSERT [dbo].[CS_VG] OFF
GO

SET IDENTITY_INSERT [dbo].[GiongCayChinh] ON 

INSERT [dbo].[GiongCayChinh] ([Id], [Ten], [PhanLoai], [MuaVu], [SanLuong]) VALUES (1, N'Lúa', N'Cây lương thực', N'Mùa hè', 5000)
INSERT [dbo].[GiongCayChinh] ([Id], [Ten], [PhanLoai], [MuaVu], [SanLuong]) VALUES (2, N'Lê', N'Cây ăn quả', N'Mùa đông', 2000)
INSERT [dbo].[GiongCayChinh] ([Id], [Ten], [PhanLoai], [MuaVu], [SanLuong]) VALUES (3, N'Xoài', N'Cây ăn quả', N'Mùa hè', 3000)
SET IDENTITY_INSERT [dbo].[GiongCayChinh] OFF
GO
SET IDENTITY_INSERT [dbo].[GiongCayDauDong] ON 

INSERT [dbo].[GiongCayDauDong] ([Id], [Ten], [NguonGoc], [DacTinh], [ThoiGianThuHoach], [GiongId], [VTId]) VALUES (2, N'Lúa Bắc Giang', N'Bắc Giang', N'Năng suất cao, chống sâu bệnh', 115, 1, 2)
INSERT [dbo].[GiongCayDauDong] ([Id], [Ten], [NguonGoc], [DacTinh], [ThoiGianThuHoach], [GiongId], [VTId]) VALUES (5, N'Bưởi Phúc Trạch', N'Hà Tĩnh', N'Vỏ vàng, cùi mỏng, ngọt đậm', 180, 6, 1)
INSERT [dbo].[GiongCayDauDong] ([Id], [Ten], [NguonGoc], [DacTinh], [ThoiGianThuHoach], [GiongId], [VTId]) VALUES (6, N'Bưởi Năm Roi', N'Vĩnh Long', N'Mọng nước, vị thanh, ít hạt', 170, 6, 2)
SET IDENTITY_INSERT [dbo].[GiongCayDauDong] OFF
GO
SET IDENTITY_INSERT [dbo].[GiongCayLuuHanh] ON 

INSERT [dbo].[GiongCayLuuHanh] ([Id], [Ten], [NoiPhoBien], [CongDung], [DacDiem]) VALUES (1, N'Cây ăn quả', N'Vùng nhiệt đới', N'Có giá trị kinh tế cao', N'Thích hợp trồng ở vùng đất phù sa')
INSERT [dbo].[GiongCayLuuHanh] ([Id], [Ten], [NoiPhoBien], [CongDung], [DacDiem]) VALUES (6, N'Cây cảnh', N'Vùng đô thị', N'Trang trí nhà cửa và công viên', N'Hình dáng đẹp, dễ chăm sóc')
INSERT [dbo].[GiongCayLuuHanh] ([Id], [Ten], [NoiPhoBien], [CongDung], [DacDiem]) VALUES (9, N'Cây lấy dầu', N'Vùng duyên hải', N'Sản xuất dầu ăn và dầu công
nghiệp', N'Hàm lượng dầu cao')
SET IDENTITY_INSERT [dbo].[GiongCayLuuHanh] OFF
GO
SET IDENTITY_INSERT [dbo].[HanhChinh] ON 

INSERT [dbo].[HanhChinh] ([Id], [Ten], [TrucThuocId]) VALUES (1, N'Tỉnh/Thành', NULL)
INSERT [dbo].[HanhChinh] ([Id], [Ten], [TrucThuocId]) VALUES (2, N'Phường/Xã', 1)
INSERT [dbo].[HanhChinh] ([Id], [Ten], [TrucThuocId]) VALUES (3, N'Tổ/Thôn', 2)
SET IDENTITY_INSERT [dbo].[HanhChinh] OFF
GO
SET IDENTITY_INSERT [dbo].[HoSo] ON 

INSERT [dbo].[HoSo] ([Id], [Ten], [SDT], [Email], [Ext]) VALUES (1, N'Nguyễn Văn A', N'0912345678', N'a.nguyenvan@hust.edu.vn', NULL)
INSERT [dbo].[HoSo] ([Id], [Ten], [SDT], [Email], [Ext]) VALUES (2, N'Trần Thị B', N'0923456789', N'b.tranthi@hust.edu.vn', NULL)
SET IDENTITY_INSERT [dbo].[HoSo] OFF
GO
SET IDENTITY_INSERT [dbo].[PhanBon] ON 

INSERT [dbo].[PhanBon] ([Id], [Ten], [ThanhPhan], [PhanLoai], [VTId]) VALUES (1, N'Đạm', N'Nito', N'Nhanh', 3)
INSERT [dbo].[PhanBon] ([Id], [Ten], [ThanhPhan], [PhanLoai], [VTId]) VALUES (2, N'Lân', N'Photpho', N'Nhanh', 2)
INSERT [dbo].[PhanBon] ([Id], [Ten], [ThanhPhan], [PhanLoai], [VTId]) VALUES (3, N'Kali', N'Kali', N'Chậm', 3)
SET IDENTITY_INSERT [dbo].[PhanBon] OFF
GO
INSERT [dbo].[PhanBon_CoSoBan] ([PhanBonId], [CoSoBanId]) VALUES (1, 1)
INSERT [dbo].[PhanBon_CoSoBan] ([PhanBonId], [CoSoBanId]) VALUES (1, 2)
INSERT [dbo].[PhanBon_CoSoBan] ([PhanBonId], [CoSoBanId]) VALUES (2, 1)
GO
INSERT [dbo].[PhanBon_CoSoSanXuat] ([PhanBonId], [CoSoSanXuatId]) VALUES (1, 1)
INSERT [dbo].[PhanBon_CoSoSanXuat] ([PhanBonId], [CoSoSanXuatId]) VALUES (1, 2)
INSERT [dbo].[PhanBon_CoSoSanXuat] ([PhanBonId], [CoSoSanXuatId]) VALUES (2, 3)
GO
SET IDENTITY_INSERT [dbo].[PhanLoai] ON 

INSERT [dbo].[PhanLoai] ([Id], [Loai]) VALUES (1, N'Phân bón')
INSERT [dbo].[PhanLoai] ([Id], [Loai]) VALUES (2, N'Thuốc BVTV')
INSERT [dbo].[PhanLoai] ([Id], [Loai]) VALUES (3, N'Phân bón và thuốc BVTV')
SET IDENTITY_INSERT [dbo].[PhanLoai] OFF
GO
SET IDENTITY_INSERT [dbo].[Quyen] ON 

INSERT [dbo].[Quyen] ([Id], [Ten], [Ext]) VALUES (1, N'Lập trình viên', N'Developer')
INSERT [dbo].[Quyen] ([Id], [Ten], [Ext]) VALUES (2, N'Quản trị hệ thống', N'Admin')
INSERT [dbo].[Quyen] ([Id], [Ten], [Ext]) VALUES (3, N'Cán bộ nghiệp vụ', N'Staff')
SET IDENTITY_INSERT [dbo].[Quyen] OFF
GO
SET IDENTITY_INSERT [dbo].[SinhVatGayHai] ON 

INSERT [dbo].[SinhVatGayHai] ([Id], [Ten], [PhanLoai], [CayAH], [VTId]) VALUES (1, N'Châu chấu', N'Côn trùng', N'Lúa', 2)
INSERT [dbo].[SinhVatGayHai] ([Id], [Ten], [PhanLoai], [CayAH], [VTId]) VALUES (2, N'Sâu róm', N'Côn trùng', N'Lúa', 2)
INSERT [dbo].[SinhVatGayHai] ([Id], [Ten], [PhanLoai], [CayAH], [VTId]) VALUES (4, N'Sâu lá', N'Côn trùng', N'Lúa', 3)
SET IDENTITY_INSERT [dbo].[SinhVatGayHai] OFF
GO
INSERT [dbo].[TaiKhoan] ([Ten], [MatKhau], [QuyenID], [HoSoId]) VALUES (N'0989154248', N'1234', 3, 1)
INSERT [dbo].[TaiKhoan] ([Ten], [MatKhau], [QuyenID], [HoSoId]) VALUES (N'0989708960', N'1234', 3, 2)
INSERT [dbo].[TaiKhoan] ([Ten], [MatKhau], [QuyenID], [HoSoId]) VALUES (N'admin', N'1234', 2, NULL)
GO

SET IDENTITY_INSERT [dbo].[ThuocBVTV] ON 

INSERT [dbo].[ThuocBVTV] ([Id], [Ten], [NgaySX], [HanSD], [VTId]) VALUES (1, N'Trừ Sâu', CAST(N'2025-01-01' AS Date), CAST(N'2026-01-01' AS Date), 1)
INSERT [dbo].[ThuocBVTV] ([Id], [Ten], [NgaySX], [HanSD], [VTId]) VALUES (2, N'Diệt Cỏ', CAST(N'2025-01-01' AS Date), CAST(N'2026-01-01' AS Date), 2)
INSERT [dbo].[ThuocBVTV] ([Id], [Ten], [NgaySX], [HanSD], [VTId]) VALUES (3, N'A', CAST(N'2025-01-01' AS Date), CAST(N'2026-01-01' AS Date), 3)
SET IDENTITY_INSERT [dbo].[ThuocBVTV] OFF
GO
INSERT [dbo].[ThuocBVTV_CoSoBan] ([ThuocBVTVId], [CoSoBanId]) VALUES (1, 1)
INSERT [dbo].[ThuocBVTV_CoSoBan] ([ThuocBVTVId], [CoSoBanId]) VALUES (2, 1)
INSERT [dbo].[ThuocBVTV_CoSoBan] ([ThuocBVTVId], [CoSoBanId]) VALUES (2, 3)
GO
INSERT [dbo].[ThuocBVTV_CoSoSanXuat] ([ThuocBVTVId], [CoSoSanXuatId]) VALUES (1, 1)
INSERT [dbo].[ThuocBVTV_CoSoSanXuat] ([ThuocBVTVId], [CoSoSanXuatId]) VALUES (1, 3)
INSERT [dbo].[ThuocBVTV_CoSoSanXuat] ([ThuocBVTVId], [CoSoSanXuatId]) VALUES (2, 3)
GO
INSERT [dbo].[Tinh] ([MaVung], [Ten]) VALUES (1, N'Cao Bằng')
INSERT [dbo].[Tinh] ([MaVung], [Ten]) VALUES (2, N'Sơn La')
INSERT [dbo].[Tinh] ([MaVung], [Ten]) VALUES (3, N'Lai Châu')
GO
SET IDENTITY_INSERT [dbo].[TuoiSau] ON 

INSERT [dbo].[TuoiSau] ([Id], [Ten], [TuoiSau], [DoPhoBien], [SVId]) VALUES (1, N'Châu chấu', 3, N'Phổ biến', 1)
INSERT [dbo].[TuoiSau] ([Id], [Ten], [TuoiSau], [DoPhoBien], [SVId]) VALUES (2, N'Sâu róm', 3, N'Không phổ biến', 2)
SET IDENTITY_INSERT [dbo].[TuoiSau] OFF
GO
SET IDENTITY_INSERT [dbo].[VungTrong] ON 

INSERT [dbo].[VungTrong] ([Id], [QuyMo], [DiaChi], [BanDoId]) VALUES (1, 1000, N'Hưng Yên', 1)
INSERT [dbo].[VungTrong] ([Id], [QuyMo], [DiaChi], [BanDoId]) VALUES (2, 2000, N'Ninh Bình', 2)
INSERT [dbo].[VungTrong] ([Id], [QuyMo], [DiaChi], [BanDoId]) VALUES (3, 3000, N'Phú Thọ', 3)
SET IDENTITY_INSERT [dbo].[VungTrong] OFF
GO
SET IDENTITY_INSERT [dbo].[Xa] ON 

INSERT [dbo].[Xa] ([Id], [Ten], [MaTinh]) VALUES (1, N'Bách Khoa', 11) 
INSERT [dbo].[Xa] ([Id], [Ten], [MaTinh]) VALUES (2, N'Vĩnh Tuy', 11)
INSERT [dbo].[Xa] ([Id], [Ten], [MaTinh]) VALUES (3, N'Lương Tài', 10)

SET IDENTITY_INSERT [dbo].[Xa] OFF
GO
ALTER TABLE [dbo].[CapNhat_SVGH]  WITH CHECK ADD FOREIGN KEY([SVId])
REFERENCES [dbo].[SinhVatGayHai] ([Id])
GO
ALTER TABLE [dbo].[CoSoBanPhanBon]  WITH CHECK ADD FOREIGN KEY([BanDoId])
REFERENCES [dbo].[BanDoPhanBo] ([Id])
GO
ALTER TABLE [dbo].[CoSoBanPhanBon]  WITH CHECK ADD FOREIGN KEY([LoaiId])
REFERENCES [dbo].[PhanLoai] ([Id])
GO
ALTER TABLE [dbo].[CoSoBanThuocBVTV]  WITH CHECK ADD FOREIGN KEY([BanDoId])
REFERENCES [dbo].[BanDoPhanBo] ([Id])
GO
ALTER TABLE [dbo].[CoSoBanThuocBVTV]  WITH CHECK ADD FOREIGN KEY([LoaiId])
REFERENCES [dbo].[PhanLoai] ([Id])
GO
ALTER TABLE [dbo].[CoSoSanXuatPhanBon]  WITH CHECK ADD FOREIGN KEY([BanDoId])
REFERENCES [dbo].[BanDoPhanBo] ([Id])
GO
ALTER TABLE [dbo].[CoSoSanXuatPhanBon]  WITH CHECK ADD FOREIGN KEY([LoaiId])
REFERENCES [dbo].[PhanLoai] ([Id])
GO
ALTER TABLE [dbo].[CoSoSanXuatThuocBVTV]  WITH CHECK ADD FOREIGN KEY([BanDoId])
REFERENCES [dbo].[BanDoPhanBo] ([Id])
GO
ALTER TABLE [dbo].[CoSoSanXuatThuocBVTV]  WITH CHECK ADD FOREIGN KEY([LoaiId])
REFERENCES [dbo].[PhanLoai] ([Id])
GO
ALTER TABLE [dbo].[CS_VG]  WITH CHECK ADD FOREIGN KEY([BanDoId])
REFERENCES [dbo].[BanDoPhanBo] ([Id])
GO
ALTER TABLE [dbo].[DonVi]  WITH CHECK ADD FOREIGN KEY([HanhChinhId])
REFERENCES [dbo].[HanhChinh] ([Id])
GO
ALTER TABLE [dbo].[DonVi]  WITH CHECK ADD FOREIGN KEY([TrucThuocId])
REFERENCES [dbo].[DonVi] ([Id])
GO
ALTER TABLE [dbo].[GiongCayChinh]  WITH CHECK ADD FOREIGN KEY([PhanLoai])
REFERENCES [dbo].[GiongCayLuuHanh] ([Ten])
GO
ALTER TABLE [dbo].[GiongCayDauDong]  WITH CHECK ADD FOREIGN KEY([GiongId])
REFERENCES [dbo].[GiongCayChinh] ([Id])
GO
ALTER TABLE [dbo].[GiongCayDauDong]  WITH CHECK ADD FOREIGN KEY([VTId])
REFERENCES [dbo].[VungTrong] ([Id])
GO
ALTER TABLE [dbo].[HanhChinh]  WITH CHECK ADD FOREIGN KEY([TrucThuocId])
REFERENCES [dbo].[HanhChinh] ([Id])
GO
ALTER TABLE [dbo].[PhanBon]  WITH CHECK ADD FOREIGN KEY([VTId])
REFERENCES [dbo].[VungTrong] ([Id])
GO
ALTER TABLE [dbo].[PhanBon_CoSoBan]  WITH CHECK ADD FOREIGN KEY([CoSoBanId])
REFERENCES [dbo].[CoSoBanPhanBon] ([Id])
GO
ALTER TABLE [dbo].[PhanBon_CoSoBan]  WITH CHECK ADD FOREIGN KEY([PhanBonId])
REFERENCES [dbo].[PhanBon] ([Id])
GO
ALTER TABLE [dbo].[PhanBon_CoSoSanXuat]  WITH CHECK ADD FOREIGN KEY([CoSoSanXuatId])
REFERENCES [dbo].[CoSoSanXuatPhanBon] ([Id])
GO
ALTER TABLE [dbo].[PhanBon_CoSoSanXuat]  WITH CHECK ADD FOREIGN KEY([PhanBonId])
REFERENCES [dbo].[PhanBon] ([Id])
GO
ALTER TABLE [dbo].[SinhVatGayHai]  WITH CHECK ADD FOREIGN KEY([VTId])
REFERENCES [dbo].[VungTrong] ([Id])
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD FOREIGN KEY([HoSoId])
REFERENCES [dbo].[HoSo] ([Id])
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD FOREIGN KEY([QuyenID])
REFERENCES [dbo].[Quyen] ([Id])
GO
ALTER TABLE [dbo].[ThuocBVTV]  WITH CHECK ADD FOREIGN KEY([VTId])
REFERENCES [dbo].[VungTrong] ([Id])
GO
ALTER TABLE [dbo].[ThuocBVTV_CoSoBan]  WITH CHECK ADD FOREIGN KEY([CoSoBanId])
REFERENCES [dbo].[CoSoBanThuocBVTV] ([Id])
GO
ALTER TABLE [dbo].[ThuocBVTV_CoSoBan]  WITH CHECK ADD FOREIGN KEY([ThuocBVTVId])
REFERENCES [dbo].[ThuocBVTV] ([Id])
GO
ALTER TABLE [dbo].[ThuocBVTV_CoSoSanXuat]  WITH CHECK ADD FOREIGN KEY([CoSoSanXuatId])
REFERENCES [dbo].[CoSoSanXuatThuocBVTV] ([Id])
GO
ALTER TABLE [dbo].[ThuocBVTV_CoSoSanXuat]  WITH CHECK ADD FOREIGN KEY([ThuocBVTVId])
REFERENCES [dbo].[ThuocBVTV] ([Id])
GO
ALTER TABLE [dbo].[TuoiSau]  WITH CHECK ADD FOREIGN KEY([SVId])
REFERENCES [dbo].[SinhVatGayHai] ([Id])
GO
ALTER TABLE [dbo].[VungTrong]  WITH CHECK ADD FOREIGN KEY([BanDoId])
REFERENCES [dbo].[BanDoPhanBo] ([Id])
GO

